section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
        width: 80%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        
        button {
            margin: 30px auto;
            width: 200px;
            --primary-color: #fff;
            --secondary-color: #black;
            --hover-color: #00ACEE;
            --arrow-width: 10px;
            --arrow-stroke: 2px;
            box-sizing: border-box;
            border: 0;
            border-radius: 20px;
            font-size: 16px;
            text-transform: uppercase;
            color: var(--hover-color);
            padding: 15px;
            background: var(--primary-color);
            transition: 0.2s background;
            display: grid;
            grid-template-columns: "2fr 0.5fr";
            grid-template-areas: 
            "text arrow"
            ;
            align-items: center;
            gap: 0.6em;
            font-weight: bold;
            
            span{
                grid-area: "text";
            }
            .arrow-wrapper {
                grid-area: "arrow";    
                display: flex;
                justify-content: flex-end;
                align-items: center;
                
                .arrow {
                    margin-top: 1px;
                    width: 10px;
                    height: var(--arrow-stroke);
                    position: relative;
                    transition: 0.2s;
                }
                
                .arrow::before {
                    content: "";
                    box-sizing: border-box;
                    position: absolute;
                    border: solid;
                    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
                    display: inline-block;
                    top: -3px;
                    transition: 0.2s;
                    padding: 3px;
                    transform: rotate(-45deg);
                }                
            }
        }

        button:hover .arrow::before {
            border-color: white;
            right: 0;
        }
          
        button:hover {
            color: white;
            background-color: var(--hover-color);
            
            .arrow {
                background: white;
                border-color: white;
            }
              
        }
    }
}


.loading{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    .spinner {
        margin: auto;
        width: 56px;
        height: 56px;
        display: grid;
        border: 4.5px solid #0000;
        border-radius: 50%;
        border-color: #dbdcef #0000;
        animation: spinner-e04l1k 1s infinite linear;
    }
      
    .spinner::before,
    .spinner::after {
        content: "";
        grid-area: 1/1;
        margin: 2.2px;
        border: inherit;
        border-radius: 50%;
    }
      
    .spinner::before {
        border-color: #474bff #0000;
        animation: inherit;
        animation-duration: 0.5s;
        animation-direction: reverse;
    }
      
    .spinner::after {
        margin: 8.9px;
    }
      
    @keyframes spinner-e04l1k {
        100% {
          transform: rotate(1turn);
        }
    }
}
